<div class="container">
    <div class="section-title">
        <span class="sub-title">Info</span>
        <h2>Rules and Announcements</h2>
    </div>
</div>

<div class="container">
 	<div class="row">
    	<div class="col">
        	<div class="single-blog-post-item">
	        	<div class="post-content">
                	<span class="sub-title">Release Note</span>
                  	<h3><a routerLink="/single-blog">Tournament Rules and Functionality</a></h3>
                    <a routerLink="/single-blog" class="default-btn">Learn More</a>
                 </div>
             </div>
        </div>
        <div class="col">
      		<div class="single-blog-post-item">
              <div class="post-content">
                  <span class="sub-title">Release Note</span>
                  <h3><a routerLink="/single-blog">D1 Rules and Banning Politics</a></h3>
                  <a routerLink="/single-blog" class="default-btn">Learn More</a>
              </div>                
      		</div>
        </div>
        <div class="col">
          <div class="single-blog-post-item">
              <div class="post-content">
                  <span class="sub-title">Release Note</span>
                  <h3><a routerLink="/single-blog">Further Functionalities</a></h3>
                  <a routerLink="/single-blog" class="default-btn">Learn More</a>
              </div>
           </div>
        </div>
    </div>
</div>