<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Team Invites">Team Invites</h1>
        </div>
    </div>
</section>

<section class="blog-area ptb-100">     
    <div class="container">
        <div *ngIf="isEmpty" style="vertical-align: middle">
            <h1 style="text-align: center"> You currently have no team invites.</h1>
        </div>  
        <div *ngIf="!isEmpty" class="row">
            
            <div *ngFor="let invite of teamInvites" class="col-lg-6 col-md-6">
                <div class="single-blog-post-box" *ngIf="hasPendingStatus(invite)">
                    <div class="post-image">
                        <a routerLink="/single-blog">
                            <img src="assets/img/main-blog-img2.jpg" alt="image"> 
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-meta">
                        <li>By <a routerLink="/blog-1">{{invite.teamRequest.teamModerator.userName}}</a></li>
                        <li>{{invite.teamRequest.teamName}}</li>
                        <li>{{invite.teamRequest.teamCountry}}</li>
                        </ul>
                        <a (click)="passTeam(invite.teamRequest)" class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                    </div>
                    <div style="vertical-align: middle;">
	                    <button style="text-align: center" (click)="acceptUserTeamInviteRequest(invite)">
	                        Accept
	                    </button>
	                    <button style="text-align: middle" (click)="declineUserTeamInviteRequests(invite)">
	                    	Decline
	                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>