<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Team Invites">Team Invites</h1>
        </div>
    </div>
</section>

<section class="blog-area ptb-100">     
    <div class="container">
        <div *ngIf="isEmpty" style="vertical-align: middle">
            <h1 style="text-align: center"> You currently have no team invites.</h1>
        </div>  
        <div *ngIf="!isEmpty" class="row">
            
            <div *ngIf="teamInvitesWithImage.length > 0">
                <div *ngFor="let teamInvite of teamInvitesWithImage; index as i" class="col-md">
                    <div class="single-blog-post-box" *ngIf="hasPendingStatus(teamInvite)">
                        <div class="post-image">
                            <a (click)="passTeam(teamInvite)">
                                <img [src]="teamImages[i]" alt="image"> 
                            </a>
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                            <li>By <a (click)="passUser(teamInvite.teamRequest.teamModerator.userId)">{{teamInvite.teamRequest.teamModerator.userName}}</a></li>
                            <li><a (click)="passTeam(teamInvite)">{{teamInvite.teamRequest.teamName}}</a></li>
                            <li>{{teamInvite.teamRequest.teamCountry}}</li>
                            </ul>
                            <a (click)="passTeam(teamInvite.teamRequest)" class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                        </div>
                        <div style="vertical-align: middle;">
                            <button style="text-align: center" (click)="acceptUserTeamInviteRequest(teamInvite)">
                                Accept
                            </button>
                            <button style="text-align: middle" (click)="declineUserTeamInviteRequests(teamInvite)">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="teamInvitesWithoutImage">
                <div *ngFor="let teamInvite of teamInvitesWithoutImage" class="col-lg-6 col-md-6">
                    <div class="single-blog-post-box" *ngIf="hasPendingStatus(teamInvite)">
                        <div class="post-image">
                            <a routerLink="/single-blog">
                                <img src="assets/d1images/anonymousteam.png" alt="image"> 
                            </a>
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                            <li>By <a routerLink="/blog-1">{{teamInvite.teamRequest.teamModerator.userName}}</a></li>
                            <li>{{teamInvite.teamRequest.teamName}}</li>
                            <li>{{teamInvite.teamRequest.teamCountry}}</li>
                            </ul>
                            <a (click)="passTeam(teamInvite.teamRequest)" class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                        </div>
                        <div style="vertical-align: middle;">
                            <button style="text-align: center" (click)="acceptUserTeamInviteRequest(teamInvite)">
                                Accept
                            </button>
                            <button style="text-align: middle" (click)="declineUserTeamInviteRequests(teamInvite)">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>