<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Login">Login</h1>
        </div>
    </div>
</section>

<section class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Login</h2>

                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input 
                                type="text"
                                required 
                                class="form-control" 
                                placeholder="Username"
                                [formControl]="txtUserName"    
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtUserName.invalid && (txtUserName.touched || txtUserName.dirty)">
                            <div *ngIf="txtUserName.errors.required">
                                Username is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input 
                                type="password" 
                                class="form-control" 
                                placeholder="Password"
                                required
                                [formControl]="txtPassword"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtPassword.invalid && ( txtPassword.dirty || txtPassword.touched)">
                            <div *ngIf="txtPassword.errors.required">  
                                Password is a required field. 
                            </div>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>