<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Leaderboards">Leaderboards</h1>
        </div>
    </div>
</section>

<section class="gallery-area pt-100 pb-70">
    
    <mat-toolbar style="width: 80%; background-color: #1a0000; color: red; margin-left: 10%;">

        <span style="margin-left: 30px;">
            View Leaderboards for :
        </span>

        <button #userButton style="margin-left: 25%; border: 3px solid white" (click)="selectUsersGet()">
            Users
        </button>

        <button #teamsButton style="margin-left: 30px; border: 3px solid black" (click)="selectTeamsGet()">
            Teams
        </button>

    </mat-toolbar>

</section>

<section class="gallery-area pt-100 pb-70">
    
            
    <div *ngIf="isUserFind">
        <div *ngIf="isEmptyUsers">
            <h3>No teams available</h3>
        </div>
        <mat-list style="color: red; width: 60%; margin-left: 20%" class="mat-content" *ngIf="!isEmptyUsers"> 
            <mat-list-item style="background-color: red" *ngFor="let user of users">

                <h2 style="color: black" matLine><a (click)="viewUser(user)">{{user.userName}}</a></h2>
                
                <p matLine>
                    <span>{{user.userCountry}}</span>
                    &nbsp;
                    <span style="margin: 10px; display: inline-block; color: white">{{user.userTotalWs}}</span>
                </p>
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <mat-divider></mat-divider>
                <mat-menu #userMenu="matMenu" style="color: red">
                    <button mat-menu-item (click)="viewUser(user)">
                        View User
                    </button>
                </mat-menu>

            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="!isUserFind">
        <div *ngIf="isEmptyTeams">
            <h3>No teams available</h3>
        </div>
        
        <mat-list style="color: red; width: 60%; margin-left: 20%" class="mat-content" *ngIf="!isEmptyTeams">
            <mat-list-item style="background-color: red" *ngFor="let team of teams">

                <h2 style="color: black" matLine><a (click)="viewTeam(team)">{{team.teamName}}</a></h2>
                
                <p matLine>
                    <span>{{team.teamCountry}}</span>
                    &nbsp;
                    <span style="margin: 10px; display: inline-block; color: white">{{team.teamTotalWs}}</span>
                </p>
                
                <button mat-icon-button [matMenuTriggerFor]="teamMenu">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <mat-divider></mat-divider>
                <mat-menu #teamMenu="matMenu" style="color: red">
                    <button mat-menu-item (click)="viewTeam(team)">
                        View team
                    </button>
                </mat-menu>
            </mat-list-item>

        </mat-list>
    </div>
</section>


<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>