<div class="container">
    <div class="section-title">
        <span class="sub-title">Upcoming Tournaments</span>
        <h2>Upcoming Tournaments</h2>
    </div>
    <div *ngIf="!allTournaments || isEmptyTournaments" style="vertical-align: middle">
		<h1 style="text-align: center">No tournaments available</h1>
	</div>

	<div class="container" *ngIf="allTournaments && !isEmptyTournaments">
	    
	    <div class="single-tournaments-box" *ngFor="let tournament of allTournaments; index as i">
	        <div class="tournaments-image">
	            <div *ngIf="isWarzoneTournament(tournament)">
	                    <img src="assets/d1images/tournamentwarzonebanner.png" alt="image">
	                </div>
	                <div *ngIf="isCDLTournament(tournament)" >
	                	<img
	                		src="assets/d1images/tournamentCDLbanner.png" alt="image"
	                	>
	                </div>
	                <div *ngIf="isFifaTournament(tournament)">
	                	<img
	                		src="assets/d1images/tournamentFifabanner.png" alt="image"
	                	>
	                </div>
	        </div>
	
	        <div class="tournaments-content">
	            <div class="content">
	                <h3><a (click)="viewTournament(tournament)">{{tournament.tournamentName}}</a></h3>
	                <div class="date">
	                    {{allTournamentMonthDates[i]}}
	                    <sup>{{allTournamentMonths[i]}}</sup>
	                    <sub>{{allTournamentYears[i]}}</sub>
	                </div>
	                <ul class="meta">
	                    <li>
	                        <span>Where</span>
	                        {{tournament.tournamentRegion}}
	                    </li>
	                    <li>
	                        <span>When</span>
	                        {{allTournamentWeekDays[i]}} ({{allTournamentTime[i]}})
	                    </li>
	                </ul>
	                <ul class="info">
                     <li><i class="flaticon-coin"></i>${{tournament.tournamentCashPrice}}</li>
                        <li><i class="flaticon-game"></i>{{tournament.tournamentFormat}}</li>
                        <li *ngIf="tournament.tournamentGameMode"><i class="flaticon-game"></i>{{tournament.tournamentGameMode}}</li>
                        <li><i class="flaticon-game-1"></i>{{tournament.tournamentPlatforms}}</li>
                        <li *ngIf="isPvPTournament(tournament)"><i class="flaticon-teamwork"></i>{{tournament.tournamentMatchesNumber}}</li>
                    	<li><i class="flaticon-teamwork"></i>{{tournament.tournamentNumberOfTeams}}/{{tournament.tournamentLimitNumberOfTeams}} Teams</li>
						<li><img src="/assets/d1images/D1TokenBag.png">{{tournament.tournamentEntryFee}} Entry Fee</li>
					</ul>
	                <a (click)="viewTournament(tournament)" class="default-btn">More Info</a>
	            </div>
	        </div>
	    </div>
	</div>
</div>