<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="section-title">
                <span class="sub-title">Team Members</span>
                <h2>Meet Our Team of The Weak "OpTic Gaming"</h2>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/1.png" alt="image">

                <div class="content">
                    <h3>Optic Scump</h3>
                    <span>Scump</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/2.png" alt="image">

                <div class="content">
                    <h3>Fabrizio</h3>
                    <span>Zelda3s</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/3.png" alt="image">

                <div class="content">
                    <h3>Bishara</h3>
                    <span>3s.King</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/4.png" alt="image">

                <div class="content">
                    <h3>Abel</h3>
                    <span>Junior.Zelda</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/5.png" alt="image">

                <div class="content">
                    <h3>Emma Olivia</h3>
                    <span>King.Zelda</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team-member">
                <img src="assets/d1images/6.png" alt="image">

                <div class="content">
                    <h3>Elijah William</h3>
                    <span>Zelda</span>
                </div>

                <a routerLink="/single-player" class="link-btn"></a>
            </div>
        </div>
    </div>
</div>