<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="My Challenges">My Challenges</h1>
        </div>
    </div>
</section>

<section class="stream-schedule-area pt-100 pb-70">
    <div class="container">
    	
  		<div style="vertical-align: middle" *ngIf="isEmpty">
  			<h1 style="text-align: center">You currently have no challenges available</h1>
  		</div>

        <div class="row" *ngIf="!isEmpty">
            <div *ngFor="let challenge of userChallenges; index as i" class="col-lg-6 col-md-12">
                <div class="single-stream-schedule-box">
                    <span class="date">{{allChallengeMonths[i]}} {{allChallengeYears[i]}}</span>
                    <div class="content">
                        <span class="time">{{challenge.challengeGame}}</span>
                        <h3><a (click)="passChallenge(challenge)">{{challenge.challengeName}}</a></h3>
                    </div>
                    <a (click)="passChallenge(challenge)" class="link-btn" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>