<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Create Tournament">Create Tournament</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div *ngIf="!isSuccessfulTournamentInformationSubmission" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="register-form">
                    <h2>Tournament Information</h2>
                    <form>
                        <div class="form-group">
                            <label>TournamentName</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                maxlength="40"
                                placeholder="Tournament Name"
                                [formControl]="txtName"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
                            <div *ngIf="txtName.errors.required">
                               Tournament Name is required
                            </div>
                        </div>
                        <div class="form-group">
                        	<label>Tournament Description</label>
                        	<input
                        		[formControl]="txtDescription"
                        		class="form-control"
                        		required
                        		maxlength="120"
                        		placeholder="Tournament Description"
                        	>
                        </div>
                        <div  class="alert alert-danger" *ngIf="txtDescription.invalid && (txtDescription.dirty || txtDescription.touched)">
                        	<div *ngIf="txtDescription.errors.required">
                        		Tournament Description is a required field
                        	</div>
                        </div>               	
                    	<div class="container">
		                    <div class="row" style="margin-top: 50px;">	
		                    	<form [formGroup]="entryAndPriceForm">
			                        <div class="col-lg-5 col-md-10" class="form-group">
									    <label>Cash prize</label>
			                            <ejs-numerictextbox format='c2' min='0' step='25'
			                            					placeholder="Enter cash value for price" value="0" 
			                            					formControlName="cashPrize">
			                            </ejs-numerictextbox>
		                        	</div>		                   
			                    </form>
		                        <form style="margin-left: 50px;">
			                        <div class="col-lg-5 col-md-10" class="form-group">
			                        	<label>Player entry fee</label>
			                        	<ejs-numerictextbox min='100' value='100' step='50' 
			                        						formControlName="entryFee">
			                        	</ejs-numerictextbox>
			                        </div>
		                        </form>
		                    </div>
                    	</div>
		                <form>    
		                    <div class="container">
		                    	<div class="row">
			                    	<label>Tournament date</label>
				                    <div class="form-group" class="col-lg-5 col-md-10">      	
				                        <mat-form-field>
				                        	<input matInput [ngxMatDatetimePicker]="tournamentDateTimeElement" 
				                        		placeholder="Choose a date"		                        		
				                        	>
				                        	<mat-datepicker-toggle matSuffix [for]="tournamentDateTimeElement">				      
				                        		
				                        	</mat-datepicker-toggle>
				                        	
				                        	<ngx-mat-datetime-picker #tournamentDateTimeElement [showSpinners]="true" [showSeconds]="false"
				                        		[stepHour]="1" [stepMinute]="10"
				                        	>				      		                        	
				                        	</ngx-mat-datetime-picker>
				                        </mat-form-field>                    
				                    </div>
			                    </div>		              
                    		</div>
                    	</form>    
                    </form>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="register-form">
                    <form>
                        <button type="submit" (click)="onSubmit(); clickedButton();" 
                            [disabled]="txtName.invalid || txtDescription.invalid || isClicked" >
                            Next
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSuccessfulTournamentInformationSubmission">
        <h2>You've registered your tournament Successfully</h2>
    </div>
</section>