<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Create Tournament">Create Tournament</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div *ngIf="!isSuccessfulTournamentInformationSubmission" class="container">
        <div class="row">
              <div class="register-form">
                  <h2>Tournament Information</h2>
                  <form>
                      <div class="form-group">
                          <label>TournamentName</label>
                          <input
                              type="text"
                              class="form-control"
                              required
                              maxlength="40"
                              placeholder="Tournament Name"
                              [formControl]="txtName"
                          >
                      </div>
                      <div class="alert alert-danger" *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
                          <div *ngIf="txtName.errors.required">
                             Tournament Name is required
                          </div>
                      </div>
                      <div class="form-group">
                      	<label>Tournament Description</label>
                      	<input
                      		[formControl]="txtDescription"
                      		class="form-control"
                      		required
                      		maxlength="120"
                      		placeholder="Tournament Description"
                      	>
                      </div>
                      <div  class="alert alert-danger" *ngIf="txtDescription.invalid && (txtDescription.dirty || txtDescription.touched)">
                      	<div *ngIf="txtDescription.errors.required">
                      		Tournament Description is a required field
                      	</div>
                      </div>               	
                  	  <div class="container">
	                     <div class="row" style="margin-top: 50px;">	
	                        <div class="col-lg-4 col-md-12">          
		                        <div class="form-group" [formGroup]="entryAndPriceForm">
								    <label>Cash prize</label>
		                            <ejs-numerictextbox format='c2' min='0' step='25'
		                            					placeholder="Enter cash value for price" value="0" 
		                            					formControlName="cashPrize">
		                            </ejs-numerictextbox>
	                        	</div>
	                        </div>
	                        <div class="col-lg-4 col-md-12">
	                        	<div class="form-group" [formGroup]="entryAndPriceForm">
	                        		<label>Team entry limit</label>
	                        		<ejs-numerictextbox format='###.##' min='2' value='2' step='1'
	                        							formControlName="limitNumberOfTeams">
	                        		</ejs-numerictextbox>
	                        	</div>
	                        </div>		                   
                            <div class="col-lg-4 col-md-12">
		                        <div class="form-group" [formGroup]="entryAndPriceForm">
		                        	<label>Player entry fee</label>
		                        	<ejs-numerictextbox min='0' value='0' step='50' 
		                        						formControlName="entryFee">
		                        	</ejs-numerictextbox>
		                        </div>
	                        </div>
	                    </div>
                  	</div>
                   <div class="container">
	                   <div class="row" style="margin-top: 50px;">
	                    	<div class="col-lg-6 col-md-12">
		                    	<div class="form-group">      	
		                    		<label>Tournament Date</label>
			                        <mat-form-field style="margin-left: 40px;">
			                        	<input matInput [ngxMatDatetimePicker]="tournamentDateTimeElement" 
			                        		placeholder="Choose a date"                       		
			                        	>
			                        	<mat-datepicker-toggle matSuffix [for]="tournamentDateTimeElement">				      
			                        		
			                        	</mat-datepicker-toggle>
			                        	
			                        	<ngx-mat-datetime-picker #tournamentDateTimeElement [showSpinners]="true" [showSeconds]="true"
			                        		[stepHour]="1" [stepMinute]="10"
			                        	>				      		                        	
			                        	</ngx-mat-datetime-picker>
			                       
			                        </mat-form-field>                    
		                    	</div>
	                    	</div>
	                    	<div class="col-lg-6 col-md-12">
		                    	<div class="form-group" [formGroup]="entryAndPriceForm">
	                    			<label>Tournament Country</label>
	                    			<select class="form-control" formControlName="tournamentCountry" (change)="updateCountry($event)">
	                    				<option value="" disabled>Choose a Country</option>
	                    				<option *ngFor="let country of countryInfo" value="{{country.CountryName}}">{{country.CountryName}}</option>
	                    			</select>
	                    		</div>
	                    	</div>    
                  	    </div>  
                  	</div>
                  	<div class="container" style="margin-top: 30px">
                  		<h2 style="text-align: center">Tournament Game</h2>
                  		<div class="row">
                  			<div class="col-sm">
                  				<img
                  					src="assets/d1images/fifa.png"
                  					style="border: 3px solid white"
                  					(click)="selectFifaTournamentGameElement()"
                  					#tournamentFifaGameElement
                  				>
                  			</div>
                  			<div class="col-sm">
                  				<img
                  					src="assets/d1images/cod.png"
                  					style="border: 3px solid white"
                  					(click)="selectCodTournamentGameElement()"
                  					#tournamentCodGameElement
                  				>
                  			</div>
                  		</div>
                  	</div>
                  	<div class="container" *ngIf="this.tournamentGame === 'Call Of Duty'" style="margin-top: 30px;">
                  		<h2 style="text-align: center"> Cod Game Mode</h2>
                  		<div class="row">
                  			<div class="col-sm">
                  				<img 
                  					src="assets/d1images/cdl.png"
                  					style="border: 3px solid white"
                  					#tournamentCodCdlElement
                  					(click)="selectCdlCodTournamentGameMode()"
                  				>	
                  			</div>
                  			<div class="col-sm">
                  				<img
                  					src="assets/d1images/warzone.png"
                  					style="border: 3px solid white"
                  					#tournamentCodWarzoneElement
                  					(click)="selectWarzoneCodTournamentGameMode()"
                  				>
                  			</div>
                  		</div>
                  	</div>
                  	<div class="container" style="margin-top: 30px;">
                  	<h2 style="text-align: center">Tournament Platforms</h2>
                  		<div class="row">
                  			<div class="col-sm">
                  				<img
                  					src="/assets/d1images/allPlatforms.png"
                  					#tournamentAllPlatformsElement
                  					style="border: 3px solid white"
                  					(click)="selectAllPlatformsTournamentPlatformElement()"
                  				>
                  			</div>
                  			<div class="col-sm">
                  				<img
                  					src="/assets/d1images/PC.png"
                  					#tournamentPcElement
                  					style="border: 3px solid white"
                  					(click)="selectPcTournamentPlatformElement()"
                  				>
                  			</div>
                  			<div class="col-sm">
                  				<img
                  					src="/assets/d1images/Control.png"
                  					#tournamentConsoleElement
                  					style="border: 3px solid white"
                  					(click)="selectConsoleTournamentPlatformElement()"
                  				>
                  			</div>
                  		</div>
                  	</div> 
                  </form>
              </div>
          </div>
          <div>
	          <button type="submit" (click)="onSubmit(); clickedButton();" 
	              [disabled]="txtName.invalid || txtDescription.invalid || isClicked" >
	              Next
	          </button>         
          </div>
    </div>
    <div *ngIf="isSuccessfulTournamentInformationSubmission">
        <h2>You've registered your tournament Successfully</h2>
    </div>
</section>