<div mat-dialog-content [formGroup]="userPasswordForm" style="background-color: #1a0000 !important">
    <div style="text-align: center;" *ngIf="isFailedUpdate">
        <p style="color: red">{{response}}</p>
    </div>
    <p style="color: red">Enter your current password</p>
    <div class="form-group">
        <mat-form-field color="red">
            <mat-label>Editing: Password</mat-label>
            <input matInput 
                required
                type="password"
                formControlName="userCurrentPassword"
                style="color: red"
            >
        </mat-form-field>
    </div>
    <div *ngIf="userCurrentPassword.invalid && (userCurrentPassword.touched || userCurrentPassword.dirty)">
        <div *ngIf="userCurrentPassword.errors.required" style="vertical-align: middle;">
            <p class="alert alert-danger" style="text-align: center;">
                Current password is required
            </p>
        </div>
    </div>

    <p style="color: red">Enter your new password</p>
    <div class="form-group">
        <mat-form-field color="red">
            <input matInput 
                required
                type="password"
                formControlName="userNewPassword"
                style="color: red"
            >
        </mat-form-field>
    </div>
    <div *ngIf="userNewPassword.invalid && (userNewPassword.touched || userNewPassword.dirty)">
        <div *ngIf="userNewPassword.errors.required" style="vertical-align: middle;">
            <p class="alert alert-danger" style="text-align: center;">
                New password is required
            </p>
        </div>
    </div>

    <p style="color: red">Repeat your new password</p>
    <div class="form-group">
        <mat-form-field color="red">
            <input matInput 
                required
                type="password"
                formControlName="userNewPasswordRepeat"
                style="color: red"
            >
        </mat-form-field>
    </div>
    <div *ngIf="userNewPasswordRepeat.invalid && (userNewPasswordRepeat.touched || userNewPasswordRepeat.dirty)">
        <div *ngIf="userNewPasswordRepeat.errors.required" style="vertical-align: middle;">
            <p class="alert alert-danger" style="text-align: center;">
                Repeat password is required
            </p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" style="background-color: red; margin: 10px">Cancel</button>
        <button mat-button (click)="onSubmit()" style="background-color: red; margin: 10px" [disabled]="userCurrentPassword.invalid || isClickedConfirmButton || userNewPassword.invalid || userNewPasswordRepeat.invalid">Confirm</button>
    </div>
</div>

