<div class="container">
    <div class="section-title">
        <span class="sub-title">TOURNAMENTS</span>
        <h2>Popular Tournaments</h2>
		<button *ngIf="isAdmin" (click)="isAuthenticatedButton()" >Create Tournament</button>
    </div>

    <div *ngIf="!allTournaments || isEmptyTournaments" style="vertical-align: middle">
		<h1 style="text-align: center">No tournaments available</h1>
	</div>

	<div class="container" *ngIf="allTournaments">
	    <div *ngFor="let tournament of allTournaments; index as i" class="single-popular-leagues-box">
	        
	        <div class="popular-leagues-box">
	            <div class="popular-leagues-image">
	                <div *ngIf="isWarzoneTournament(tournament)">
	                    <img src="assets/d1images/tournamentwarzonebanner.png" alt="image">
	                </div>
	                <div *ngIf="isCDLTournament(tournament)" >
	                	<img
	                		src="assets/d1images/tournamentCDLbanner.png" alt="image"
	                	>
	                </div>
	                <div *ngIf="isFifaTournament(tournament)">
	                	<img
	                		src="assets/d1images/tournamentFifabanner.png" alt="image"
	                	>
	                </div>
	            </div>
	
	            <div class="popular-leagues-content">
	                <div class="content">
	                    <h3><a (click)="viewTournament(tournament)">{{tournament.tournamentName}}</a></h3>
	                    <p>{{tournament.tournamentDescription}}</p>
	                    <ul class="info">
	                        <li><i class="flaticon-coin"></i>${{tournament.tournamentCashPrice}}</li>
	                        <li><i class="flaticon-game"></i>{{tournament.tournamentFormat}}</li>
	                        <li><i class="flaticon-game"></i>{{tournament.tournamentGameMode}}</li>
	                        <li><i class="flaticon-game-1"></i>{{tournament.tournamentPlatforms}}</li>
	                        <li *ngIf="isPvPTournament(tournament)"><i class="flaticon-teamwork"></i>{{tournament.tournamentMatchesNumber}}</li>
	                    	<li><i class="flaticon-teamwork"></i>{{tournament.tournamentNumberOfTeams}}/{{tournament.tournamentLimitNumberOfTeams}} Teams</li>
	                    </ul>
	                    <a (click)="viewTournament(tournament)" class="join-now-btn">Join Now</a>
	                </div>
	            </div>
	
	            <div class="popular-leagues-date">
	                <div class="date">
	                    <div class="d-table">
	                        <div class="d-table-cell">
	                            <span>{{allTournamentYears[i]}}</span>
	                            <h3>{{allTournamentMonths[i]}}</h3>
	                            <p>{{allTournamentTime[i]}}</p>
	                            <i class='bx bx-calendar'></i>
	                        </div>
	                    </div>
	                </div>
	            </div>   
	        </div>
	    </div>
	</div>
</div>