@import '~ng-tournament-tree/styles/ngtt-single-elimination-styles.scss';

// h1, h2, h3, h4, h5, h6 {
//     margin-top: 0;
// }

// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
//   margin-bottom: 0.5rem;
//   font-weight: 500;
//   line-height: 1.2;
// }

// h1, .h1{
//   font-size: 2.5rem;
// }

// h1{
//   display: block;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
// }


.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  background-color: black;
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-avatar {
  margin-left: 12px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: red;
  display: inline-block;
  flex-shrink: 1;
}

.ngtt__team-title {
  margin-left: 12px;
  color: antiquewhite;
  font-weight: lighter;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ngtt__team-score {
  padding: 0 20px 0 10px;
  flex-shrink: 1;
}



