<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="My Teams">My Teams</h1>
        </div>
    </div>
</section>

<section class="blog-area ptb-100">     
    <div class="container">
        <div>
            <button>Create Team</button>
        </div>
        <div *ngIf="isEmpty" style="margin-left: 460px;">
            <h1>{{message}}</h1>
        </div>  
        <div class="row">
            <div *ngFor="let team of teams" class="col-lg-6 col-md-6">
                <div class="single-blog-post-box">
                    <div class="post-image">
                        <a routerLink="/single-blog">
                            <img src="assets/img/main-blog-img2.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                        <li>By <a routerLink="/blog-1">{{team.teamModerator}}</a></li>
                        <li>{{team.teamCountry}}</li>
                        </ul>
                        <h3><a routerLink="/single-blog">{{team.teamName}}</a></h3>
                        <a routerLink="/single-blog" class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>