<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="My Teams">My Teams</h1>
        </div>
    </div>
</section>

<section class="blog-area ptb-100">     
    <div class="container">
        <div>
            <button (click)="this.createButton()">Create Team</button>
        </div>
        <div *ngIf="isEmpty" style="vertical-align: middle">
            <h1 style="text-align: center"> You currently have no teams</h1>
        </div>  
        <div *ngIf="!isEmpty" style="margin-top: 50px" class="row">
            <div *ngFor="let team of userTeams" class="col-lg-6 col-md-6">
                <div class="single-blog-post-box">
                    <div class="post-image">
                        <a routerLink="/single-blog">
                            <img src="assets/img/main-blog-img2.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                        <li>By <a routerLink="/blog-1">{{team.teamModerator}}</a></li>
                        <li>{{team.teamCountry}}</li>
                        </ul>
                        <h3><a routerLink="/single-blog">{{team.teamName}}</a></h3>
                        <a (click)="passTeam(team)" class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-6 col-md-6">
                <div class="single-blog-post-box">
                    <div class="post-image">
                        <a routerLink="/single-blog">
                            <img src="assets/img/main-blog-img2.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                        <li>By <a routerLink="/blog-1">Igor Zelaya</a></li>
                        <li>Honduras</li>
                        </ul>
                        <h3><a routerLink="/single-blog">Young Kingz</a></h3>
                        <a class="read-more-btn">View Team<i class="flaticon-null"></i></a>
                    </div>
                </div>
            </div>

            
        
        
        </div>
    </div>
</section>

<footer class="footer-area bg-1b060a ptb-70">
    <app-footer-style-one></app-footer-style-one>
</footer>