<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Create Tournament">Create Tournament</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div *ngIf="!isSuccessfulTournamentCreation" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="register-form">
                    <h2>Tournament Configuration</h2>
                    <form>
	                  	<div class="form-group" >
	                   	<label>Tournament Type</label>
	                    	<div class="row" style="margin-top:30px;">
	                    		<label>League Play</label>		                    		
		                    	<div class="col-lg-5 col-md-10">
		                    		<img src="assets/d1images/Cup.png" 
		                    			#leagueFormatElement 
		                    			(click)="selectLeagueTournamentFormat()" 
		                    			style="border: 3px solid red"
		                    		>
		                    	</div>
	                  			<label>PvP</label>
	                    		<div class="col-lg-5 col-md-10">
                    				<img #pvpFormatElement (click)="selectPvPTournamentFormat()"
                    					 src="assets/d1images/VS.png" 
                    					 style="border: 3px solid red"
                    				>
	                    		</div>
	                    	</div>
		            	</div>	                    	
                    </form>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="register-form">
                    <form>
                     
                        <button type="submit" (click)="onSubmit();" 
                            [disabled]="" >
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSuccessfulTournamentCreation">
        <h2>You've registered your tournament Successfully</h2>
    </div>
    <div class="alert alert-danger" *ngIf="isSignUpFailed">
        <h2>
            Registration failed.
        </h2>
        <h3>{{errorMessage}}</h3>
    </div>
</section>