<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Register Team">Register Team</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div *ngIf="!isSuccessfulRegister" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Team Information</h2>
                    <form [formGroup]="teamForm">
                        <div class="form-group">
                            <label>Team Name</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                maxlength="12"
                                placeholder="Name"
                                formControlName="txtName"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
                            <div *ngIf="txtName.errors.required">
                                Name is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Team Email</label>
                            <input 
                                type="email" 
                                class="form-control" 
                                placeholder="Email"
                                required
                                formControlName="txtEmail"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)">
                            <div *ngIf="txtEmail.errors.required">
                                Please enter a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control" formControlName="txtCountry" (change)="changeCountry($event)">
                                <option value="" disabled>Select Country</option>
                                <option *ngFor="let country of countryInfo" value="{{country.CountryName}}">{{country.CountryName}}</option>
                            </select>    
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <form>                   
                	<h2>Invite Players to Join Team</h2>
                        <div class="container">
                        	<div class="row">
		                        <div class="form-group col-sm">
		                        	<input
		                        		type="text"
		                        		class="form-control"
		                        		placeholder="Search by username here...."
		                        		[formControl]="txtUserToSearch"
		                        	> 
	                        	</div>
	                        	<div class="col-sm">
	                        		<button (click)="getUserByUserName()">Search</button>
	                        	</div>
	                        	<br>
	                        	
	                        </div>
                        </div>
                        <div style="margin-top: 30px" class="container">
	                        <div class="row">
		                        <div class="col-sm" *ngIf="isUserFound">
		                        	<img
		                        		src="assets/d1images/anonymoususer-big.png"
		                        		style="border: solid red 2px"
		                        	>
		                        </div>
		                        <div class="col-sm" *ngIf="isUserFound">
		                      		<h3 style="text-align: center">{{userFound.userName}}</h3>
		                      		<p style="text-align: center">{{userFound.userRealName}}</p>
		                      		<p style="text-align: center">{{userFound.userCountry}}</p>
		                      	</div>
		                      	<div class="col-sm" *ngIf="isUserFound">
		                      		<button [disabled]="isClickedInviteButton" (click)="addUserToPendingInvites()">Invite</button>
		                      	</div>
		                      	<div class="col-sm" *ngIf="isClickedInviteButton">
		                      		<button (click)="removeUserFromPendingInvites()">Cancel Invite</button>
		                      	</div>                        	
	                        </div>
                        </div>
                        <button type="submit" (click)="onSubmit(); clickedButton();" 
                            [disabled]="txtName.invalid || txtEmail.invalid || txtCountry.invalid || isClicked" >
                           Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSuccessfulRegister">
        <h2>You've registered Successfully</h2>
    </div>
    <div class="alert alert-danger" *ngIf="isSignUpFailed">
        <h2>
            Registration failed.
        </h2>
        <h3>{{errorMessage}}</h3>
    </div>
</section>