<app-navbar-style-one></app-navbar-style-one>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="Register Team">Register Team</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div *ngIf="!isSuccessfulRegister && !isSignUpFailed" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Team Information</h2>
                    <form [formGroup]="teamForm">
                        <div class="form-group">
                            <label>Team Name</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                maxlength="24"
                                placeholder="Name"
                                formControlName="txtName"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
                            <div *ngIf="txtName.errors.required">
                                Name is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Team Email</label>
                            <input 
                                type="email" 
                                class="form-control" 
                                placeholder="Email"
                                required
                                formControlName="txtEmail"
                            >
                        </div>
                        <div class="alert alert-danger" *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)">
                            <div *ngIf="txtEmail.errors.required">
                                Please enter a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control" formControlName="txtCountry" (change)="changeCountry($event)">
                                <option value="0" disabled>--Select Country--</option>
                                <option *ngFor="let country of countryInfo" value="{{country.name}}">{{country.name}}</option>
                            </select>    
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <form>                   
                	    <h2>Invite Players to Join Team</h2>
                        <div class="container">
                        	<div class="row">
		                        <div class="form-group col-sm">
		                        	<input
		                        		type="text"
		                        		class="form-control"
		                        		placeholder="Search by username here...."
		                        		[formControl]="txtUserToSearch"
		                        	> 
	                        	</div>
	                        	<div class="col-sm">
	                        		<button mat-button style="background-color: red" #searchButton (click)="getUserByUserName()" class="form-group">Search</button>
	                        	</div>
	                        	<br>
	                        	
	                        </div>
                        </div>
                        <div style="margin-top: 90px" class="container">
	                        <div class="row">
	                            <div class="col-sm" style="vertical-align: middle" *ngIf="!isUserFound && (txtUserToSearch.dirty || txtUserToSearch.touched)">
		                      		<h3 style="text-align: center">User not found.</h3>
		                      	</div>
		                      	
		                        <div class="col-sm" *ngIf="isUserFound">
                                    <div *ngIf="!userFound.hasImage">
                                        <img
                                            src="assets/d1images/anonymoususer-big.png"
                                            style="border: solid red 2px"
                                        >
                                    </div>
                                    <div *ngIf="userFound.hasImage" style="margin-bottom: 15px">
                                        <img
                                            [src]="userToSearchImage"
                                            style="border: solid red 2px"
                                        >
                                    </div>
		                        </div>
		                        <div class="col-sm" *ngIf="isUserFound">
		                      		<h3 style="text-align: center">{{userFound.userName}}</h3>
		                      		<p style="text-align: center">{{userFound.userRealName}}</p>
		                      		<p style="text-align: center">{{userFound.userCountry}}</p>
		                      	</div>
		                      	<div class="col-sm" *ngIf="isUserFound">
		                      		<button mat-button style="background-color: red" [disabled]="isClickedInviteButton" (click)="addUserToPendingInvites()">Invite</button>
		                      	</div>
		                      	<div class="col-sm" *ngIf="isClickedInviteButton">
		                      		<button mat-button style="background-color: red" (click)="removeUserFromPendingInvites()">Cancel Invite</button>
		                      	</div>
		                      	                        	
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-9">
                                    <label>Select File for Team Image</label>
                                    <input
                                        type="file"
                                        (change)="onFileChange($event)"
                                        accept=".png, .jpg, .jpeg"
                                    >
                                </div>
                                <div class="col-sm" *ngIf="selectedImageFile">
                                    <image-cropper 
                                        [imageChangedEvent]="selectedImageFile"
                                        [maintainAspectRatio]="false"
                                        [aspectRatio]="4 / 4"
                                        [maintainAspectRatio]="true"
                                        [resizeToWidth]="256"
                                        format="png"
                                        (imageCropped)="cropImage($event)"
                                        style="width: 200px; height: auto"
                                    >
                                    </image-cropper>
                                </div>
                                <div class="col-sm" *ngIf="selectedImageFile">
                                    <label>Image Preview</label>
                                    <img [src]="cropImagePreview"
                                        style="width: 250; height: 250"
                                    />
                                </div>
                            </div>
                            <p style="font-size: small;color: red">*Supported formats: png, jpg, jpeg</p>
                            <button *ngIf="selectedImageFile" mat-button style="background-color: red; margin-bottom: 20px; margin-right: 20px;" (click)="unselectImage()">Cancel Image</button>      
                        </div>
                        
                        <button type="submit" (click)="onSubmit()"  mat-button style="background-color: red; width: 100%;"
                            [disabled]="txtName.invalid || txtEmail.invalid || txtCountry.invalid || isClicked">
                           Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="vertical-align: middle" *ngIf="isSuccessfulRegister">
        <h2 style="text-align: center">Team, "{{team.teamName}}" created.</h2>
    	<button style="background-color: red; width: 100%" mat-button (click)="navigateToTeams()">
    		My Teams
    	</button>
    </div>
    <div style="vertical-align: middle" *ngIf="isSignUpFailed">
        <h2 style="text-align: center">
            Registration failed.
        </h2>
        <h3 class="alert alert-danger" style="text-align: center">{{errorMessage}}</h3>
        <button mat-button style="background-color: red; width: 100%" (click)="reloadPage()">Retry</button>
    </div>
</section>